@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Navbar CSS */

.navbar {
    background-color: rgb(11,71,72);
}

/* Main CSS */

/* Intro Section CSS Start */

h1 {
    font-weight: 700;
    font-size: 3rem;
}

#work::before {
    content: "A graphic designer.";
    animation-name: animate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes animate {

    0% {
        content: "A graphic designer.";
    }

    20% {
        content: "A motion graphics designer.";
    }

    40% {
        content: "An art director.";
    }

    60% {
        content: "An audio editor.";
    }

    80% {
        content: "A web designer.";
    }
}

/* Intro Section CSS End */
/* Work Portoflio CSS Start */
.companyLogo {
    width: 50%;
}
/* Work Portoflio CSS End */
/* About Me CSS Start */

.skills {
    width: 50px;
}

#skill-cards p {
    font-size: .75rem;
}

#exp-card {
    height: 350px;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1rem;
    }

    p {
        font-size: .75rem;
    }

    .companyLogo {
        width: 50px;
    }

    #exp-card {
        height: auto;
    }

    .skills {
        width: 35px;
    }
}